@use '../abstracts' as *;

.button{
    padding: calc($btn-default-padding) calc($btn-default-padding * 1.5);
    font-size: $btn-default-txt-size;
    font-weight: $btn-default-txt-weight;
    border: none;
    @include flex_box();

    &.primary{
        background-color: $btn-primary-bg-clr;
        color: $clr-txt-100;

        &:hover{
            background-color: $btn-primary-hover-bg-clr;
        }
    }
    &.outline{
        border: 2px solid $btn-ouline-border-clr;

        &:hover{
            background-color: $btn-ouline-hover-bg-clr;
            color: $btn-ouline-hover-txt-clr;
        }
    }
    &.full{
        width: 100%;
    }
    &.half{
        width: 50%;
    }
    &:is(:focus, :hover){
        cursor: pointer;
    }
}