// global color tokens 

$clr-primary-500: hsl(245,38%,34%);
$clr-primary-400: hsl(245,38%,47%);
$clr-primary-300: hsl(245,79%,68%);
$clr-primary-200: hsl(245,80%,71%);
$clr-primary-100: hsl(245,79%,77%);
$clr-secondary-500: hsl(50,3%,38%);
$clr-secondary-400: hsl(40,4%,57%);
$clr-secondary-300: hsl(43,19%,86%);
$clr-secondary-200: hsl(42, 100%, 91%);
$clr-secondary-100: hsl(44,65%,95%);
$clr-txt-500: hsl(0, 0%, 0%);
$clr-txt-400: hsl(0, 0%, 20%);
$clr-txt-300: hsl(0, 0%, 60%);
$clr-txt-200: hsl(0, 0%, 80%);
$clr-txt-100: hsl(0, 0%, 100%);

// default color tokens 